h2{
    text-align: start;
}
h3{
  justify-content: center;
  align-items: end
}


  .location-card {
    border: ;
    padding: 40px;
    text-align: center;
    height: 10vh;
    width: 5vw;
    background-color: #f4eeee;
    border-radius: 5px;
    
   
  }
  
  .country-card{
    display: flex;
    gap: 10px;
    border-radius: 5px;
  }
  .para-txt{
    text-align: start;
  }

  
  
  
  .contact-info {
    text-align: start;
  }
  .city-list{
    display: flex;
    gap: 20px;
    
  }
  .city-list:hover{
    color: blue;
  }
  .contact-button{
    background-color: blue;
    color: white;
    border-radius: 5px;
  }
  .left{
    padding-left: 20%;
  }



  



